.button {
  color: #fff;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 1vw;
  text-align: center;
  justify-content: center;
  border-radius: 0.2vw;
  width: 12.5vw;
  height: 2.5vw;
  border: none;
  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cancel {
  background-color: #aa7e74;
}
.submit {
  background-color: #f3dba5;
}
.table {
  display: flex;
  gap: 0.5vw;
  background-color: #f3dba5;
  text-align: start;
  padding-left: 0.8vw;
  padding-top: 0.5vw;
  color: grey;
}
.add {
  display: flex;
  gap: 0.5vw;
  background-color: #aa7e74;
  justify-content: center;
  align-items: center;
  color: white;
}

.true {
  width: 2vw;
  height: 2vw;
  /* background-color: aqua; */
  background: url("../../../public/checked.png") no-repeat;
  background-size: 2vw;
  border: none;
  margin-top: 0.3vw;
}

.false {
  width: 2vw;
  height: 2vw;
  /* background-color: aqua; */
  background: url("../../../public/multiply.png") no-repeat;
  background-size: 2vw;
  border: none;
  margin-top: 0.3vw;
}
.previous {
  width: 3vw;
  height: 3vw;
  /* background-color: aqua; */
  background: url("../../../public/previous.png") no-repeat;
  background-size: 3vw;
  border: none;
}

.next {
  width: 3vw;
  height: 3vw;
  /* background-color: aqua; */
  background: url("../../../public/previous.png") no-repeat;
  background-size: 3vw;
  border: none;
  transform: rotate(180deg);
}
